{% extends "base.html" %}

{% block content %}


<section class="page">

<div class="wrapper">

<div class="container">

<div class="logo">
    <img src="/static/images/logo.jpg" class="logo-img" alt="Lucio e Beatrice logo">
</div>

<div class="hero-name">
Grazie!
</div>


<div class="announcement">

{{ partecipant_test|safe}}

</div>

<a href="/" class="btn" style="padding:14px 28px; font-size:16px;">Torna alla Home</a>


<div class="section-title">
Dettagli
</div>


<div class="details" style="width:100%; max-width:500px; margin:0 auto;">

    <!-- Nome -->
    <div style="
        background:#e9e6f0;
        border-radius:10px;
        padding:14px 16px;
        margin-bottom:10px;
        text-align:left;
    ">
        <div style="color:#6f5aa5; font-size:14px;">Nome</div>
        <div style="font-size:18px;">{{ participant_name }}</div>
    </div>

    <!-- Email -->
    <div style="
        background:#e9e6f0;
        border-radius:10px;
        padding:14px 16px;
        margin-bottom:10px;
        text-align:left;
    ">
        <div style="color:#6f5aa5; font-size:14px;">Email</div>
        <div style="font-size:18px;">{{ participant_email }}</div>
    </div>

    <!-- Ospiti -->
    <div style="
        background:#e9e6f0;
        border-radius:10px;
        padding:14px 16px;
        margin-bottom:10px;
        text-align:left;
    ">
        <div style="color:#6f5aa5; font-size:14px;">Ospiti</div>
        <div style="font-size:18px;">{{ guests or 0 }}</div>
    </div>

    <!-- Bambini -->
    <div style="
        background:#e9e6f0;
        border-radius:10px;
        padding:14px 16px;
        margin-bottom:10px;
        text-align:left;
    ">
        <div style="color:#6f5aa5; font-size:14px;">Bambini</div>
        <div style="font-size:18px;">{{ bambini or 0 }}</div>
    </div>

    <!-- Accompagnatori -->
    <div style="
        background:#e9e6f0;
        border-radius:10px;
        padding:14px 16px;
        margin-bottom:10px;
        text-align:left;
    ">
        <div style="color:#6f5aa5; font-size:14px;">Accompagnatori</div>
        <div style="font-size:18px;">{{ accompagnatori or '-' }}</div>
    </div>

    <!-- Note -->
    <div style="
        background:#e9e6f0;
        border-radius:10px;
        padding:14px 16px;
        text-align:left;
    ">
        <div style="color:#6f5aa5; font-size:14px;">Note</div>
        <div style="font-size:18px;">{{ notes or '-' }}</div>
    </div>

</div>


<div class="footer">

<div class="announcement">

A Presto, 
</div>


<div class="hero-name">
Lucio e Beatrice
</div>
</section>

{% endblock %}