<section id="dove" class="page">
    <div class="announcement" style="margin-top:40px;">
  LA CERIMONIA SI TERRÀ PRESSO LA
  </div>
  <div class="section-title">
     Chiesa di San Biagio 
  </div>

  <div class="location" data-map="Chiesa di San Biagio, Melezzole (TR)">
    Melezzole (TR) 
    <a href="#" class="map-link" style="margin-left:8px; text-decoration:none; color: var(--accent);">
      <i class="fa-solid fa-diamond-turn-right"></i>
    </a>
  </div>

  <div class="location">
    <img src="/static/images/chiesa.jpg" class="location-img" alt="Relais La Tenuta del Gallo">
  </div>

  <br>
  <div class="announcement" style="margin-top:40px;">
    A SEGUIRE, FESTEGGIEREMO INSIEME A<br> 
    AMICI E PARENTI PRESSO IL
  </div>

  <div class="section-title">
    Relais La Tenuta del Gallo
  </div>

  <div class="location" data-map="Relais La Tenuta del Gallo, Via Ortacci 34, 05022 Macchie TR, Italia">
    Via Ortacci 34 – Amelia (TR)
    <a href="#" class="map-link" style="margin-left:8px; text-decoration:none; color: var(--accent);">
      <i class="fa-solid fa-diamond-turn-right"></i>
    </a>
  </div>

    <div class="location">
    <img src="/static/images/relais.jpg" class="location-img" alt="Relais La Tenuta del Gallo">
  </div>


  <div class="map-wrap" style="margin-top:30px;">
  <iframe id="mapFrame" class="location-img"
    src="https://www.google.com/maps?q=Relais%20La%20Tenuta%20del%20Gallo%2C%20Via%20Ortacci%2034%2C%2005022%20Macchie%20TR%2C%20Italia&output=embed"
    allowfullscreen="" loading="lazy">
  </iframe>
</div>

</section>

<script>
  const links = document.querySelectorAll('.map-link');
  const mapFrame = document.getElementById('mapFrame');

  links.forEach(link => {
    link.addEventListener('click', e => {
      e.preventDefault();
      const query = link.parentElement.getAttribute('data-map');
      mapFrame.src = `https://www.google.com/maps?q=${encodeURIComponent(query)}&output=embed`;
    });
  });
</script>