<section id="contatti" class="page page-purple">
  <div class="section-title">Contatti</div>
  <div class="contact-cards">
    <div class="contact-card">
      <h3>Beatrice</h3>
      <div class="contact-item"><a href="mailto:beatrice.beco@icloud.com"><i class="fa fa-envelope"></i> beatrice.beco@icloud.com</a></div>
      <div class="contact-item"><a href="tel:+393331133832"><i class="fa fa-phone"></i> +39 3331133832</a></div>
    </div>
    <div class="contact-card">
      <h3>Lucio</h3>
      <div class="contact-item"><a href="mailto:lucio.zaccardelli@gmail.com"><i class="fa fa-envelope"></i> lucio.zaccardelli@gmail.com</a></div>
      <div class="contact-item"><a href="tel:+3934781450555"><i class="fa fa-phone"></i> +39 3478145055</a></div>
    </div>
  </div>
</section>