<section id="contatti" class="page page-purple">
  <h2 class="section-title">Contatti</h2>
  <div class="contact-cards">
    <div class="contact-card">
      <h3>Lucio Zaccardelli</h3>
      <div class="contact-item"><a href="tel:+3934781450555"><i class="fa fa-phone"></i> +39 3478145055</a></div>
    </div>
    <div class="contact-card">
      <h3>Beatrice Beco</h3>
      <div class="contact-item"><a href="tel:+393331133832"><i class="fa fa-phone"></i> +39 3331133832</a></div>
    </div>
  </div>
</section>