<section id="vestizione" class="page">
  <h2 class="section-title">Vestizione</h2>
  <div class="announcement" style="margin-top:40px;">
    LA VESTIZIONE DELLA SPOSA SI TERRÀ PRESSO
  </div>
  <div class="location" data-map="via Giacomo Matteotti 117, Avigliano Umbro (TR)">
    via Giacomo Matteotti 117, Avigliano Umbro (TR) 
    <a href="#" class="map-link" style="margin-left:8px; text-decoration:none; color: var(--accent);">
      <i class="fa-solid fa-diamond-turn-right"></i>
    </a>
  </div>
  
  <br>
  
  <div class="announcement" style="margin-top:40px;">
    LA VESTIZIONE DELLO SPOSO SI TERRÀ PRESSO
  </div>
  <div class="location" data-map="via Sant'Antonio 4, Melezzole (TR)">
    via Sant'Antonio 4, Melezzole (TR) 
    <a href="#" class="map-link" style="margin-left:8px; text-decoration:none; color: var(--accent);">
      <i class="fa-solid fa-diamond-turn-right"></i>
    </a>
  </div>
  <div class="location">
    <img src="/static/images/VestizioneSposo.jpg" class="location-img" alt="via Sant'Antonio 4, Melezzole (TR)">
  </div>

  <br>
  

  <div class="map-wrap" style="margin-top:30px;">
    <iframe id="mapFrameVestizione" class="location-img"
      src="https://www.google.com/maps/embed?origin=mfe&pb=!1m2!2m1!1sVia+Sant%27Antonio,+4+Melezzole"
      allowfullscreen="" loading="lazy">
    </iframe>
  </div>

</section>

<script>
  const dressingLinks = document.querySelectorAll('#vestizione .map-link');
  const dressingMapFrame = document.getElementById('mapFrameVestizione');

  dressingLinks.forEach(link => {
    link.addEventListener('click', e => {
      e.preventDefault();
      const query = link.parentElement.getAttribute('data-map');
      dressingMapFrame.src = `https://www.google.com/maps?q=${encodeURIComponent(query)}&output=embed`;
      dressingMapFrame.scrollIntoView({ behavior: 'smooth', block: 'center' });
    });
  });
</script>