<section id="listaNozze" class="page">
  <div class="section-title">Lista di Nozze</div>
  <div class="announcement">NON ABBIAMO PREVISTO UNA LISTA NOZZE,<br>
    IL REGALO PIÙ BELLO SARÀ LA VOSTRA PRESENZA<br>
    IN QUESTO GIORNO COSÌ SPECIALE!<br>
    <br><br><br>
    PER CHI LO DESIDERA,<br>
    È POSSIBILE CONTRIBUIRE AL NOSTRO<br>VIAGGIO DI NOZZE
  </div>
  <!--<div class="iban-wrap"> 
    IBAN CONTO COMUNE: 
    <div class="iban" id="iban">
      IT24W0306974601100000007839
      <button class="copy-btn" onclick="copyIBAN()"><i class="fa-regular fa-copy"></i></button>
    </div>
    Intestatario: Lucio Zaccardelli
  </div>-->
  <div class="contact-cards">
    <div class="contact-card">
        <div class="iban-wrap"> 
        IBAN CONTO COMUNE<br>intestato a Lucio Zaccardelli: 
        <div class="iban" id="iban">
          IT24W0306974601100000007839
          <button class="copy-btn" onclick="copyIBAN()"><i class="fa-regular fa-copy"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div id="copy-msg" class="copy-msg"></div>
</section>