<section id="listaNozze" class="page">
  <div class="section-title">Lista di Nozze</div>
  <div class="announcement">NON C'E' UNA LISTA NOZZE,<br>
    LA VOSTRA PRESENZA SARA' IL DONO PIU BELLO. <br><br>
  PER CHI LO DESIDERA,  <br>
  E' POSSIBILE CONTRIBUIRE AL NOSTRO VIAGGIO DI NOZZE. 

  </div>
  <div class="iban-wrap"> 
    IBAN 
    <div class="iban" id="iban">
      IT48J0306978494100000001747
      <button class="copy-btn" onclick="copyIBAN()"><i class="fa-regular fa-copy"></i></button>
    </div>
     Intestato a Beatrice Beco
  </div>
  <div id="copy-msg" class="copy-msg"></div>
</section>