<section class="page">
  <div id="foto" class="foto_page">

    <div class="section-title">Foto</div>

    <div class="announcement">
      GLI SPOSI NON VEDONO L'ORA <br>
      DI VEDERE LE FOTO E I VIDEO CHE VORRETE CONDIVIDERE CON LORO!
    </div>

    <!-- BUTTON -->
        <div class="button next-btn">
    <a href="https://photos.app.goo.gl/sibBgLNu7LugFDie8" target="_blank" class="btn">
      Condividi
    </a>
          </div>


    <!-- OPTIONAL QR CODE -->
    <!--
    <div style="margin-top:30px;">
      <img src="/static/images/qr-foto.png" style="width:160px;">
      <div style="margin-top:10px; font-size:14px; letter-spacing:2px;">
        Scansiona per caricare
      </div>
    </div>
    -->

  </div>
  <br> <br>   <br> <br>
  <div class="logo">
    <img src="/static/images/logo.jpg" class="logo-img" alt="">
  </div>
</section>